{% include "header/header.html.twig" %}


<section>
    <div class="container">
         <section id="entraideDImg">
            <span>
                <img src="{{ asset('./images/images/default.png')}}" alt="">
            </span>
            <div class="divPost">
                <p>Posté par <span>nanais._</span></p>
                <div class="divLike">
                    <p>Pas répondu</p>
                    <button id="reponse" type="submit"><img src="{{ asset('./images/logo/icons/non.png')}}" alt=""></button>
                </div>
            </div>
        </section>
        <section id="entraideDetail">
            <div class="divTitre">
                <h2>Pourquoi mes tomates ne rougissent pas ?</h2>
            </div>
            <div class="divInfos">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque illo ullam dolor sed natus autem tenetur officiis culpa hic adipisci voluptatum debitis ut eum corporis expedita nam, a totam commodi.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nisi atque voluptatibus eligendi magni deserunt dolorum asperiores quos adipisci ad ratione minima maxime numquam ex reprehenderit vero, sequi ipsum sed.</p>
            </div>
        </section>
        <section id="entraideCommentaire">
            
        </section>
    </div>
</section>


{% include "footer/footer.html.twig" %}