{% include "header/header.html.twig" %}


<section>
    <div class="container">
        <section id="recetteATitre">
            <div class="divTitre">
                <h2>Poster votre recette</h2>
            </div>
        </section>
        <section id="recetteAjout">
            <form action="./page-recetteTraitement.php" method="POST" enctype="multipart/form-data">
            <h3>Présentation</h3>
            <hr>
            <label for="name">Nom de votre recette</label>
            <input type="text" name="name" id="input">
            <label for="file">Photo de votre recette</label>
            <input type="file" name="file" id="input">
            <label for="conseil">Votre conseil</label>
            <input type="text" name="conseil" id="input">

            <h3>Ingrédients</h3>
            <hr>
            <label for="nbre">Nombre de personnes</label>
            <input type="number" name="nbre" id="input">
            <div id="ingredientsContainer">
                <label for="ajoutIngre[]">Ajouter des ingrédients</label>
                <input type="text" name="ajoutIngre[]" id="input">
            </div>
            <button type="button" onclick="addIngredient()">Ajouter un ingrédient</button>

            <h3>Pratique</h3>
            <hr>
            <label for="Tprepa">Temps de préparation (minutes)</label>
            <input type="number" name="Tprepa" id="input">
            <label for="Tcuisson">Temps de cuisson (minutes)</label>
            <input type="number" name="Tcuisson" id="input">

            <h3>Préparation</h3>
            <hr>
            <div id="etapesContainer">
                <label for="etape[]">Description de l'étape</label>
                <textarea name="etape[]" id="etape"></textarea>
            </div>
            <button type="button" onclick="addEtape()">Ajouter une étape</button>

            <button type="submit" id="mainBtn">Poster</button>
            </form>
        </section>
    </div>
</section>


{% include "footer/footer.html.twig" %}